

<%= form_tag sessions_path, :html => { :class => 'form-horizontal' }  do %>
  <fieldset>

  <legend><h1>Login</h1></legend>

  <div class="field control-group">
    <%= label_tag :email %>
    <div class="controls">
      <%= text_field_tag :email, params[:email] %>
    </div>
  </div>

  <div class="field control-group">
    <%= label_tag :password %>
    <div class="controls">
      <%= password_field_tag :password %>
    </div>
  </div>

  <div class="actions form-actions">
    <%= submit_tag "Log in", :class => "btn btn-primary" %>
  </div>

  </fieldset>

<% end %>
