<div class="jumbotron creme_linen">
  <div class="container">
    <h1 class="header-title">Videos</h1>
    <% if @category %>
    <h3><%= @category.name %> - <%= @category.description %></h3>
    <% else %>
    <h3>All Videos</h3>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="text-center">
    <% if @current_user %>
    <div class="row text-center">
      <p><%= link_to "Share your videos now!", uploads_path %></p>
    </div>
    <% end %>
    <%= render :partial => 'shared/sort_bar' %>
  </div>
  <div class="text-center">
    <%= render :partial => 'shared/paginate' %>
  </div>
</div>

<div class="row">
  <% (@videos).each { |video| %>
    <%= render_video_thumbnail(video) %>
  <% } %>
</div>

<div class="row">
  <d_iv class="text-center">
    <%= render :partial => 'shared/paginate' %>
  </div>
</div>
