<div class="jumbotron">
  <div class="container text-center">
    <h3><%= @video.title %><small> by <%= @video.user.name %></small></h3>
    <div data-swf="/flowplayer.swf" class="flowplayer minimalist img-responsive image-center">
      <video poster="<%= @video.thumbnail.url %>">
        <source type="<%= @video.upload_content_type %>" src="<%= @video.upload.url %>"/>
      </video>
    </div>
    <div class="content text-center">
      <small>Not Playing? Try the <a href="<%= @video.upload.url %>" class="text-center">direct link</a>.</small>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-3"><small><%= @video.created_at.to_formatted_s(:long) %></small></div>
      <div class="col-md-3"><%= render_candies(@video) %></div>
    </div>
    <p><%= @video.description %></p>
  </div>
  <% if @video.candy_count > 0 %>
  <div class="row text-center">
  <%= @video.candies.collect { |candy| candy.user.name }.join (", ") %> gave candy.
  </div>
  <% end %>  
  <%= render_comments(@video) %>
</div>
