<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <a href="<%= photo_path(photo) %>">
    <img data-src="holder.js/300x200" alt="<%= photo.title %>" src="<%= photo.upload.url(:square) %>">
    </a>
    <div class="caption">
      <a href="<%= photo_path(photo) %>">
        <h4>
          <% if photo.created_at > 1.hour.ago %><span class="label label-default">New</span><% end %>
          <%= photo.title %><br/><small> by <%= photo.user.name %></small>
        </h4>
      </a>
      <%= render_candies(photo) %>
    </div>
  </div>
</div>
