<div class="col-sm-6 col-md-3">
  <div class="thumbnail">

    <a href="<%= upload._type == 'Video' ? video_path(upload) : photo_path(upload) %>">
      <img data-src="holder.js/300x200" alt="<%= upload.title %>" src="<%= upload.thumbnail_url %>">
    </a>

    <div class="caption">

      <div class="name"><%= best_in_place upload, :title %></div>
      <div class="name"><%= best_in_place upload, :description, :type => :textarea, :nil => "description" %></div>

      <div class="actions">
        <button class="btn btn-lg btn-block">
          <%= link_to fa_icon("trash", text: "delete"), upload_path(upload), :confirm => 'Really delete this?', :method => :delete  %>
        </button>
      </div>
    </div>
  </div>
</div>
