<div class="col-sm-6 col-md-3">
  <div class="thumbnail">

    <a href="<%= upload._type == 'Video' ? video_path(upload) : photo_path(upload) %>">
      <img data-src="holder.js/300x200" alt="<%= upload.title %>" class="img-rounded img-responsive image-center" src="<%= upload.thumbnail_url %>">
    </a>

    <div class="caption">

      <div>
        <%= best_in_place upload, :title, :activator => "#activator-title-#{upload.id}" %>
        <a href="#" id="<%= "activator-title-#{upload.id}" %>">Edit</a>
      </div>
      <div>
        <%= best_in_place upload, :description, :type => :textarea, :nil => "add description", :activator => "#activator-description-#{upload.id}" %>
        <a href="#" id="<%= "activator-description-#{upload.id}" %>">Edit</a>
      </div>
      <div><b>Category:</b>
        <%= best_in_place upload, :category_id, :type => :select, :collection => categories, :activator => "#activator-category-#{upload.id}" %>
        <a href="#" id="<%= "activator-category-#{upload.id}"%>">Edit</a>
      </div>

      <div class="actions">
        <button class="btn btn-lg btn-block">
          <%= link_to fa_icon("trash", text: "delete"), upload_path(upload), :confirm => 'Really delete this?', :method => :delete  %>
        </button>
      </div>
    </div>
  </div>
</div>
