<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <a href="<%= video_path(video) %>">
    <img data-src="holder.js/300x200" alt="<%= video.title %>" class="img-rounded img-responsive image-center" src="<%= video.thumbnail_url %>">
    </a>
    <div class="caption">
      <a href="<%= video_path(video) %>">
      <h4>
        <% if video.created_at > 1.hour.ago %><span class="label label-default">New</span><% end %>
        <%= video.title %><br/><small> by <%= video.user.name %></small>
      </h4>
      </a>
      <p><%= video.description %></p>
      <%= render_candies(video) %>
      <div class="row">
        <%= fa_icon "comment", text: video.comments.count.to_s %>
      </div>
    </div>
  </div>
</div>
