<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <a href="<%= video_path(video) %>">
    <img data-src="holder.js/300x200" alt="<%= video.title %>" src="<%= video.thumbnail_url %>">
    </a>
    <div class="caption">
      <a href="<%= video_path(video) %>">
      <h4><%= video.title %><small> by <%= video.user.name %></small></h4>
      </a>
      <p><%= video.description %></p>
      <%= render_candies(video) %>
    </div>
  </div>
</div>
