<div class="jumbotron creme_linen">
  <div class="container">
    <h1 class="header-title">Photos</h1>
    <% if @category %>
    <h3><%= @category.name %> - <%= @category.description %></h3>
    <% else %>
    <h3>All Photos</h3>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="text-center">
    <%= render :partial => 'shared/sort_bar' %>
  </div>
  <div class="text-center">
    <%= render :partial => 'shared/paginate' %>
  </div>
  <% @photos.each { |photo| %>
  <%= render_photo_thumbnail(photo) %>
  <% } %>
  <div class="text-center">
    <%= render :partial => 'shared/paginate' %>
  </div>
</div>
