<!DOCTYPE html>
<html>
<head>
  <title>TyLovesCandy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="<%= params[:controller] %>">

  <div id="wrap">

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "TyLovesCandy", root_path, :class => "navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", root_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Photos <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "All Photos", photos_path %></li>
                <li role="presentation" class="divider"></li>
                <% Category.photo_categories.each do |category| %>
                <li><%= link_to category.name, photos_path(:category => category) %></li>
                <% end %>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Videos <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "All Videos", videos_path %></li>
                <li role="presentation" class="divider"></li>
                <% Category.video_categories.each do |category| %>
                <li><%= link_to category.name, videos_path(:category => category) %></li>
                <% end %>
              </ul>
            </li>
            <li><%= link_to "Rankings", rankings_path %></li>
            <li><%= link_to "How To Play", how_to_play_path %></li>        
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <% if @current_user %>
                <p class="navbar-text">Welcome, <%= @current_user.name %></p>
                <div class="btn-group"> 
                  <button type="button" class="btn btn-default navbar-btn">
                    <%= link_to fa_icon("cloud-upload", text: "Share"), uploads_path %>
                  </button>
                  <button type="button" class="btn btn-default navbar-btn">
                    <%= link_to fa_icon("signout", text: "Logout"), :controller => :sessions, :action => :destroy %>
                  </button>
                </div>
              <% else %>
                <button class="btn btn-default navbar-btn">
                  <%= link_to fa_icon("signin", text: "Login"), new_session_path %>
                </button>
              <% end %>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <% if flash.count > 0 %>
      <div class="row">
        <div class="span12">        
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %> 
        </div>
      </div>
      <% end %>

      <%= yield %>
    </div>

  </div>

  <div id="footer">
    <div class="container">
      <p class="text-muted credit">Made by Tristan Stanley for Tyler and Candace - TyLovesCandy.com &copy; 2013</p>
    </div>
  </div>

<%= javascript_include_tag "application" %>
</body>
</html>
